requests==2.32.3
loguru==0.7.2
openai==1.42.0
anthropic==0.34.1
groq==0.9.0
google-generativeai==0.7.2
litellm==1.44.5 
datasets==2.21.0
shortuuid==1.0.13
pydra-config==0.0.1
together==1.2.7
fschat==0.2.36
psutil==6.0.0
torch
transformers
accelerate==0.33.0
alpaca_eval==0.6.5
bayesian-optimization==1.5.1
numpy
docker==7.1.0